.calculator {
    width: 200px; 
    height: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 10px solid #595a5a;
    border-radius: 20px;
    background:white ;
    background-size: cover;
}



input[type="text"] {
    width: 93%;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px rgb(73, 73, 73);
    background-color: rgb(240, 230, 235);
    border:1px solid black;
    border-radius: 10px;
}

input[type="button"] {
    width: 45px;
    height: 45px;
    font-size: 18px;
    margin: 2px;
    cursor: pointer;
    background-color:rgb(143, 137, 137);
    box-shadow: 2px 2px 2px rgba(13, 14, 13, 0.5);
    border-radius: 10px;
        
    


}
